In [1]:
import pandas as pd
from scipy import stats

In [2]:
data1 = pd.read_csv('data-1.csv')
data2 = pd.read_csv('data-2.csv')
data3 = pd.read_csv('data-3.csv')
data4 = pd.read_csv('data-4.csv')
data5 = pd.read_csv('data-5.csv')
data6 = pd.read_csv('data-6.csv')

In [3]:
# data_list = [data1,data2,data3,data4,data5,data6]
# data = pd.DataFrame([data1,data2,data3,data4,data5,data6])

In [4]:
meanx1 = data1['x'].mean()
meany1 = data1['y'].mean()

meanx2 = data2['x'].mean()
meany2 = data2['y'].mean()

meanx3 = data3['x'].mean()
meany3 = data3['y'].mean()

meanx4 = data4['x'].mean()
meany4 = data4['y'].mean()

meanx5 = data5['x'].mean()
meany5 = data5['y'].mean()

meanx6 = data6['x'].mean()
meany6 = data6['y'].mean()

In [5]:
stdx1 = data1['x'].std()
stdy1 = data1['y'].std()

stdx2 = data2['x'].std()
stdy2 = data2['y'].std()

stdx3 = data3['x'].std()
stdy3 = data3['y'].std()

stdx4 = data4['x'].std()
stdy4 = data4['y'].std()

stdx5 = data5['x'].std()
stdy5 = data5['y'].std()

stdx6 = data6['x'].std()
stdy6 = data6['y'].std()

In [17]:
def get_stats(data):
    df = pd.DataFrame();
    
    # mean of values
    meanx = data['x'].mean();
    meany = data['y'].mean();
    
    df['meanx'] = meanx;
    df['meany'] = meany;
    print(df)
    # standard deviations
    stdx = data['x'].std();
    stdy = data['y'].std();
    
    df['stdx'] = stdx;
    df['stdy'] = stdy;
    
    # range
    rangex = data['x'].max() - data['x'].min();
    rangey = data['y'].max() - data['y'].min();
    
    df['rangex'] = rangex;
    df['rangey'] = rangey;
    
    # correlation
    corr1 = stats.linregress(data1['x'],data1['y']).rvalue;
    corr2 = stats.linregress(data2['x'],data2['y']).rvalue;
    
    df['corr1'] = corr1;
    df['corr2'] = corr2;
    
    return df

In [18]:
df = get_stats(data1)

            x          y
0   29.168628  26.350615
1   12.801887  11.705425
2   19.744856  15.331458
3   34.890718  27.384153
4   30.410696  20.859101
5   -3.727335  10.023575
6   19.401061  16.873293
7    6.183714   9.596947
8    6.761374  15.226571
9   12.927182  17.424621
10   9.728523  16.599379
11  25.451282  22.537730
12  17.132453  14.843775
13   9.460100  16.550180
14  13.326359  14.127173
15  12.004092  15.606959
16  25.928949  22.858978
17   5.538101  10.459030
18  11.756812  15.106565
19  -2.249149   8.719839
20 -22.635878  -2.565088
21  15.843423  13.722910
22  18.373234  17.783094
23  -0.905980  10.199782
24  35.237055  24.229392
25  -9.452388   2.974537
26   8.549102  11.404244
27   5.753794  14.575424
28  26.393351  22.541265
29  25.632305  21.631076
..        ...        ...
70  16.749087  18.216261
71   9.547795  13.411353
72  21.672808  20.550065
73  -6.817910   3.288994
74  12.828100  12.345564
75  -0.217721   9.254328
76  -2.449566   5.168398
77   1.053804   7.147802
78   4.261370   9.219620
79   8.673984  12.371950
80  -5.981798   4.301113
81  18.809918  14.655056
82  13.587949  13.506738
83 -10.434924  -1.664268
84  25.859026  22.179976
85  30.750670  20.171220
86  22.145355  16.863911
87   5.840902  11.024781
88  -4.849031   4.096358
89  20.653421  21.412740
90   3.161877   6.995224
91  22.669341  19.868772
92  10.499300  13.171084
93  19.719668  15.523647
94  12.276397  15.184752
95  16.478878  15.896346
96   8.126000  13.606581
97  29.430446  24.362231
98   9.522945  17.087944
99  12.823872  17.084992

[100 rows x 2 columns]
Empty DataFrame
Columns: [meanx, meany]
Index: []

In [16]:
df

Empty DataFrame
Columns: [meanx, meany, stdx, stdy, rangex, rangey, corr1, corr2]
Index: []